@{
    ViewData["Title"] = "About";
}

<h1>Grazie per averci scelto!</h1>
<p>Il tuo posto e' stato riservato.'</p>
<a asp-controller="Home" asp-action="Home" class="btn btn-outline-primary">
    Back to Home
</a>
